In [3]:
import numpy as np
import pandas as pd

In [4]:
movies=pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [5]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [6]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies=movies.merge(credits,on='title')

In [8]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
#genres,id,keywords,title

In [10]:
movies['original_language'].value_counts()

en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: original_language, dtype: int64

In [11]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [12]:
 movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [13]:
movies.dropna(inplace=True)

In [14]:
movies.duplicated().sum()

0

In [15]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [16]:
#'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

#['Action','Adventure','Fantasy','Science Fiction']

In [17]:
def convert(obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [18]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [19]:
movies['genres']=movies['genres'].apply(convert)

In [20]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [21]:
movies['keywords']=movies['keywords'].apply(convert)

In [22]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
def convert3(obj):
    l=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=3:
            l.append(i['name'])
            counter+=1
        else:
            break
    return l

In [24]:
movies['cast']=movies['cast'].apply(convert3)

In [25]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [26]:
movies['crew'][0]

'[{"credit_id": "52fe48009251416c750aca23", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "539c47ecc3a36810e3001f87", "department": "Art", "gender": 2, "id": 496, "job": "Production Design", "name": "Rick Carter"}, {"credit_id": "54491c89c3a3680fb4001cf7", "department": "Sound", "gender": 0, "id": 900, "job": "Sound Designer", "name": "Christopher Boyes"}, {"credit_id": "54491cb70e0a267480001bd0", "department": "Sound", "gender": 0, "id": 900, "job": "Supervising Sound Editor", "name": "Christopher Boyes"}, {"credit_id": "539c4a4cc3a36810c9002101", "department": "Production", "gender": 1, "id": 1262, "job": "Casting", "name": "Mali Finn"}, {"credit_id": "5544ee3b925141499f0008fc", "department": "Sound", "gender": 2, "id": 1729, "job": "Original Music Composer", "name": "James Horner"}, {"credit_id": "52fe48009251416c750ac9c3", "department": "Directing", "gender": 2, "id": 2710, "job": "Director", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750ac9d9", "department": "Writing", "gender": 2, "id": 2710, "job": "Writer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca17", "department": "Editing", "gender": 2, "id": 2710, "job": "Editor", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca29", "department": "Production", "gender": 2, "id": 2710, "job": "Producer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca3f", "department": "Writing", "gender": 2, "id": 2710, "job": "Screenplay", "name": "James Cameron"}, {"credit_id": "539c4987c3a36810ba0021a4", "department": "Art", "gender": 2, "id": 7236, "job": "Art Direction", "name": "Andrew Menzies"}, {"credit_id": "549598c3c3a3686ae9004383", "department": "Visual Effects", "gender": 0, "id": 6690, "job": "Visual Effects Producer", "name": "Jill Brooks"}, {"credit_id": "52fe48009251416c750aca4b", "department": "Production", "gender": 1, "id": 6347, "job": "Casting", "name": "Margery Simkin"}, {"credit_id": "570b6f419251417da70032fe", "department": "Art", "gender": 2, "id": 6878, "job": "Supervising Art Director", "name": "Kevin Ishioka"}, {"credit_id": "5495a0fac3a3686ae9004468", "department": "Sound", "gender": 0, "id": 6883, "job": "Music Editor", "name": "Dick Bernstein"}, {"credit_id": "54959706c3a3686af3003e81", "department": "Sound", "gender": 0, "id": 8159, "job": "Sound Effects Editor", "name": "Shannon Mills"}, {"credit_id": "54491d58c3a3680fb1001ccb", "department": "Sound", "gender": 0, "id": 8160, "job": "Foley", "name": "Dennie Thorpe"}, {"credit_id": "54491d6cc3a3680fa5001b2c", "department": "Sound", "gender": 0, "id": 8163, "job": "Foley", "name": "Jana Vance"}, {"credit_id": "52fe48009251416c750aca57", "department": "Costume & Make-Up", "gender": 1, "id": 8527, "job": "Costume Design", "name": "Deborah Lynn Scott"}, {"credit_id": "52fe48009251416c750aca2f", "department": "Production", "gender": 2, "id": 8529, "job": "Producer", "name": "Jon Landau"}, {"credit_id": "539c4937c3a36810ba002194", "department": "Art", "gender": 0, "id": 9618, "job": "Art Direction", "name": "Sean Haworth"}, {"credit_id": "539c49b6c3a36810c10020e6", "department": "Art", "gender": 1, "id": 12653, "job": "Set Decoration", "name": "Kim Sinclair"}, {"credit_id": "570b6f2f9251413a0e00020d", "department": "Art", "gender": 1, "id": 12653, "job": "Supervising Art Director", "name": "Kim Sinclair"}, {"credit_id": "54491a6c0e0a26748c001b19", "department": "Art", "gender": 2, "id": 14350, "job": "Set Designer", "name": "Richard F. Mays"}, {"credit_id": "56928cf4c3a3684cff0025c4", "department": "Production", "gender": 1, "id": 20294, "job": "Executive Producer", "name": "Laeta Kalogridis"}, {"credit_id": "52fe48009251416c750aca51", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "52fe48009251416c750aca11", "department": "Camera", "gender": 2, "id": 18265, "job": "Director of Photography", "name": "Mauro Fiore"}, {"credit_id": "5449194d0e0a26748f001b39", "department": "Art", "gender": 0, "id": 42281, "job": "Set Designer", "name": "Scott Herbertson"}, {"credit_id": "52fe48009251416c750aca05", "department": "Crew", "gender": 0, "id": 42288, "job": "Stunts", "name": "Woody Schultz"}, {"credit_id": "5592aefb92514152de0010f5", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Makeup Artist", "name": "Linda DeVetta"}, {"credit_id": "5592afa492514152de00112c", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Hairstylist", "name": "Linda DeVetta"}, {"credit_id": "54959ed592514130fc002e5d", "department": "Camera", "gender": 2, "id": 33302, "job": "Camera Operator", "name": "Richard Bluck"}, {"credit_id": "539c4891c3a36810ba002147", "department": "Art", "gender": 2, "id": 33303, "job": "Art Direction", "name": "Simon Bright"}, {"credit_id": "54959c069251417a81001f3a", "department": "Visual Effects", "gender": 0, "id": 113145, "job": "Visual Effects Supervisor", "name": "Richard Martin"}, {"credit_id": "54959a0dc3a3680ff5002c8d", "department": "Crew", "gender": 2, "id": 58188, "job": "Visual Effects Editor", "name": "Steve R. Moore"}, {"credit_id": "52fe48009251416c750aca1d", "department": "Editing", "gender": 2, "id": 58871, "job": "Editor", "name": "John Refoua"}, {"credit_id": "54491a4dc3a3680fc30018ca", "department": "Art", "gender": 0, "id": 92359, "job": "Set Designer", "name": "Karl J. Martin"}, {"credit_id": "52fe48009251416c750aca35", "department": "Camera", "gender": 1, "id": 72201, "job": "Director of Photography", "name": "Chiling Lin"}, {"credit_id": "52fe48009251416c750ac9ff", "department": "Crew", "gender": 0, "id": 89714, "job": "Stunts", "name": "Ilram Choi"}, {"credit_id": "54959c529251416e2b004394", "department": "Visual Effects", "gender": 2, "id": 93214, "job": "Visual Effects Supervisor", "name": "Steven Quale"}, {"credit_id": "54491edf0e0a267489001c37", "department": "Crew", "gender": 1, "id": 122607, "job": "Dialect Coach", "name": "Carla Meyer"}, {"credit_id": "539c485bc3a368653d001a3a", "department": "Art", "gender": 2, "id": 132585, "job": "Art Direction", "name": "Nick Bassett"}, {"credit_id": "539c4903c3a368653d001a74", "department": "Art", "gender": 0, "id": 132596, "job": "Art Direction", "name": "Jill Cormack"}, {"credit_id": "539c4967c3a368653d001a94", "department": "Art", "gender": 0, "id": 132604, "job": "Art Direction", "name": "Andy McLaren"}, {"credit_id": "52fe48009251416c750aca45", "department": "Crew", "gender": 0, "id": 236696, "job": "Motion Capture Artist", "name": "Terry Notary"}, {"credit_id": "54959e02c3a3680fc60027d2", "department": "Crew", "gender": 2, "id": 956198, "job": "Stunt Coordinator", "name": "Garrett Warren"}, {"credit_id": "54959ca3c3a3686ae300438c", "department": "Visual Effects", "gender": 2, "id": 957874, "job": "Visual Effects Supervisor", "name": "Jonathan Rothbart"}, {"credit_id": "570b6f519251412c74001b2f", "department": "Art", "gender": 0, "id": 957889, "job": "Supervising Art Director", "name": "Stefan Dechant"}, {"credit_id": "570b6f62c3a3680b77007460", "department": "Art", "gender": 2, "id": 959555, "job": "Supervising Art Director", "name": "Todd Cherniawsky"}, {"credit_id": "539c4a3ac3a36810da0021cc", "department": "Production", "gender": 0, "id": 1016177, "job": "Casting", "name": "Miranda Rivers"}, {"credit_id": "539c482cc3a36810c1002062", "department": "Art", "gender": 0, "id": 1032536, "job": "Production Design", "name": "Robert Stromberg"}, {"credit_id": "539c4b65c3a36810c9002125", "department": "Costume & Make-Up", "gender": 2, "id": 1071680, "job": "Costume Design", "name": "John Harding"}, {"credit_id": "54959e6692514130fc002e4e", "department": "Camera", "gender": 0, "id": 1177364, "job": "Steadicam Operator", "name": "Roberto De Angelis"}, {"credit_id": "539c49f1c3a368653d001aac", "department": "Costume & Make-Up", "gender": 2, "id": 1202850, "job": "Makeup Department Head", "name": "Mike Smithson"}, {"credit_id": "5495999ec3a3686ae100460c", "department": "Visual Effects", "gender": 0, "id": 1204668, "job": "Visual Effects Producer", "name": "Alain Lalanne"}, {"credit_id": "54959cdfc3a3681153002729", "department": "Visual Effects", "gender": 0, "id": 1206410, "job": "Visual Effects Supervisor", "name": "Lucas Salton"}, {"credit_id": "549596239251417a81001eae", "department": "Crew", "gender": 0, "id": 1234266, "job": "Post Production Supervisor", "name": "Janace Tashjian"}, {"credit_id": "54959c859251416e1e003efe", "department": "Visual Effects", "gender": 0, "id": 1271932, "job": "Visual Effects Supervisor", "name": "Stephen Rosenbaum"}, {"credit_id": "5592af28c3a368775a00105f", "department": "Costume & Make-Up", "gender": 0, "id": 1310064, "job": "Makeup Artist", "name": "Frankie Karena"}, {"credit_id": "539c4adfc3a36810e300203b", "department": "Costume & Make-Up", "gender": 1, "id": 1319844, "job": "Costume Supervisor", "name": "Lisa Lovaas"}, {"credit_id": "54959b579251416e2b004371", "department": "Visual Effects", "gender": 0, "id": 1327028, "job": "Visual Effects Supervisor", "name": "Jonathan Fawkner"}, {"credit_id": "539c48a7c3a36810b5001fa7", "department": "Art", "gender": 0, "id": 1330561, "job": "Art Direction", "name": "Robert Bavin"}, {"credit_id": "539c4a71c3a36810da0021e0", "department": "Costume & Make-Up", "gender": 0, "id": 1330567, "job": "Costume Supervisor", "name": "Anthony Almaraz"}, {"credit_id": "539c4a8ac3a36810ba0021e4", "department": "Costume & Make-Up", "gender": 0, "id": 1330570, "job": "Costume Supervisor", "name": "Carolyn M. Fenton"}, {"credit_id": "539c4ab6c3a36810da0021f0", "department": "Costume & Make-Up", "gender": 0, "id": 1330574, "job": "Costume Supervisor", "name": "Beth Koenigsberg"}, {"credit_id": "54491ab70e0a267480001ba2", "department": "Art", "gender": 0, "id": 1336191, "job": "Set Designer", "name": "Sam Page"}, {"credit_id": "544919d9c3a3680fc30018bd", "department": "Art", "gender": 0, "id": 1339441, "job": "Set Designer", "name": "Tex Kadonaga"}, {"credit_id": "54491cf50e0a267483001b0c", "department": "Editing", "gender": 0, "id": 1352422, "job": "Dialogue Editor", "name": "Kim Foscato"}, {"credit_id": "544919f40e0a26748c001b09", "department": "Art", "gender": 0, "id": 1352962, "job": "Set Designer", "name": "Tammy S. Lee"}, {"credit_id": "5495a115c3a3680ff5002d71", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "5495a12f92514130fc002e94", "department": "Crew", "gender": 0, "id": 1357071, "job": "Transportation Coordinator", "name": "James Waitkus"}, {"credit_id": "5495976fc3a36811530026b0", "department": "Sound", "gender": 0, "id": 1360103, "job": "Supervising Sound Editor", "name": "Addison Teague"}, {"credit_id": "54491837c3a3680fb1001c5a", "department": "Art", "gender": 2, "id": 1376887, "job": "Set Designer", "name": "C. Scott Baker"}, {"credit_id": "54491878c3a3680fb4001c9d", "department": "Art", "gender": 0, "id": 1376888, "job": "Set Designer", "name": "Luke Caska"}, {"credit_id": "544918dac3a3680fa5001ae0", "department": "Art", "gender": 0, "id": 1376889, "job": "Set Designer", "name": "David Chow"}, {"credit_id": "544919110e0a267486001b68", "department": "Art", "gender": 0, "id": 1376890, "job": "Set Designer", "name": "Jonathan Dyer"}, {"credit_id": "54491967c3a3680faa001b5e", "department": "Art", "gender": 0, "id": 1376891, "job": "Set Designer", "name": "Joseph Hiura"}, {"credit_id": "54491997c3a3680fb1001c8a", "department": "Art", "gender": 0, "id": 1376892, "job": "Art Department Coordinator", "name": "Rebecca Jellie"}, {"credit_id": "544919ba0e0a26748f001b42", "department": "Art", "gender": 0, "id": 1376893, "job": "Set Designer", "name": "Robert Andrew Johnson"}, {"credit_id": "54491b1dc3a3680faa001b8c", "department": "Art", "gender": 0, "id": 1376895, "job": "Assistant Art Director", "name": "Mike Stassi"}, {"credit_id": "54491b79c3a3680fbb001826", "department": "Art", "gender": 0, "id": 1376897, "job": "Construction Coordinator", "name": "John Villarino"}, {"credit_id": "54491baec3a3680fb4001ce6", "department": "Art", "gender": 2, "id": 1376898, "job": "Assistant Art Director", "name": "Jeffrey Wisniewski"}, {"credit_id": "54491d2fc3a3680fb4001d07", "department": "Editing", "gender": 0, "id": 1376899, "job": "Dialogue Editor", "name": "Cheryl Nardi"}, {"credit_id": "54491d86c3a3680fa5001b2f", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "54491d9dc3a3680faa001bb0", "department": "Sound", "gender": 0, "id": 1376902, "job": "Supervising Sound Editor", "name": "Gwendolyn Yates Whittle"}, {"credit_id": "54491dc10e0a267486001bce", "department": "Sound", "gender": 0, "id": 1376903, "job": "Sound Re-Recording Mixer", "name": "William Stein"}, {"credit_id": "54491f500e0a26747c001c07", "department": "Crew", "gender": 0, "id": 1376909, "job": "Choreographer", "name": "Lula Washington"}, {"credit_id": "549599239251412c4e002a2e", "department": "Visual Effects", "gender": 0, "id": 1391692, "job": "Visual Effects Producer", "name": "Chris Del Conte"}, {"credit_id": "54959d54c3a36831b8001d9a", "department": "Visual Effects", "gender": 2, "id": 1391695, "job": "Visual Effects Supervisor", "name": "R. Christopher White"}, {"credit_id": "54959bdf9251412c4e002a66", "department": "Visual Effects", "gender": 0, "id": 1394070, "job": "Visual Effects Supervisor", "name": "Dan Lemmon"}, {"credit_id": "5495971d92514132ed002922", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Effects Editor", "name": "Tim Nielsen"}, {"credit_id": "5592b25792514152cc0011aa", "department": "Crew", "gender": 0, "id": 1394286, "job": "CG Supervisor", "name": "Michael Mulholland"}, {"credit_id": "54959a329251416e2b004355", "department": "Crew", "gender": 0, "id": 1394750, "job": "Visual Effects Editor", "name": "Thomas Nittmann"}, {"credit_id": "54959d6dc3a3686ae9004401", "department": "Visual Effects", "gender": 0, "id": 1394755, "job": "Visual Effects Supervisor", "name": "Edson Williams"}, {"credit_id": "5495a08fc3a3686ae300441c", "department": "Editing", "gender": 0, "id": 1394953, "job": "Digital Intermediate", "name": "Christine Carr"}, {"credit_id": "55402d659251413d6d000249", "department": "Visual Effects", "gender": 0, "id": 1395269, "job": "Visual Effects Supervisor", "name": "John Bruno"}, {"credit_id": "54959e7b9251416e1e003f3e", "department": "Camera", "gender": 0, "id": 1398970, "job": "Steadicam Operator", "name": "David Emmerichs"}, {"credit_id": "54959734c3a3686ae10045e0", "department": "Sound", "gender": 0, "id": 1400906, "job": "Sound Effects Editor", "name": "Christopher Scarabosio"}, {"credit_id": "549595dd92514130fc002d79", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "549596009251413af70028cc", "department": "Production", "gender": 0, "id": 1401785, "job": "Production Manager", "name": "Brigitte Yorke"}, {"credit_id": "549596e892514130fc002d99", "department": "Sound", "gender": 0, "id": 1401786, "job": "Sound Effects Editor", "name": "Ken Fischer"}, {"credit_id": "549598229251412c4e002a1c", "department": "Crew", "gender": 0, "id": 1401787, "job": "Special Effects Coordinator", "name": "Iain Hutton"}, {"credit_id": "549598349251416e2b00432b", "department": "Crew", "gender": 0, "id": 1401788, "job": "Special Effects Coordinator", "name": "Steve Ingram"}, {"credit_id": "54959905c3a3686ae3004324", "department": "Visual Effects", "gender": 0, "id": 1401789, "job": "Visual Effects Producer", "name": "Joyce Cox"}, {"credit_id": "5495994b92514132ed002951", "department": "Visual Effects", "gender": 0, "id": 1401790, "job": "Visual Effects Producer", "name": "Jenny Foster"}, {"credit_id": "549599cbc3a3686ae1004613", "department": "Crew", "gender": 0, "id": 1401791, "job": "Visual Effects Editor", "name": "Christopher Marino"}, {"credit_id": "549599f2c3a3686ae100461e", "department": "Crew", "gender": 0, "id": 1401792, "job": "Visual Effects Editor", "name": "Jim Milton"}, {"credit_id": "54959a51c3a3686af3003eb5", "department": "Visual Effects", "gender": 0, "id": 1401793, "job": "Visual Effects Producer", "name": "Cyndi Ochs"}, {"credit_id": "54959a7cc3a36811530026f4", "department": "Crew", "gender": 0, "id": 1401794, "job": "Visual Effects Editor", "name": "Lucas Putnam"}, {"credit_id": "54959b91c3a3680ff5002cb4", "department": "Visual Effects", "gender": 0, "id": 1401795, "job": "Visual Effects Supervisor", "name": "Anthony \'Max\' Ivins"}, {"credit_id": "54959bb69251412c4e002a5f", "department": "Visual Effects", "gender": 0, "id": 1401796, "job": "Visual Effects Supervisor", "name": "John Knoll"}, {"credit_id": "54959cbbc3a3686ae3004391", "department": "Visual Effects", "gender": 2, "id": 1401799, "job": "Visual Effects Supervisor", "name": "Eric Saindon"}, {"credit_id": "54959d06c3a3686ae90043f6", "department": "Visual Effects", "gender": 0, "id": 1401800, "job": "Visual Effects Supervisor", "name": "Wayne Stables"}, {"credit_id": "54959d259251416e1e003f11", "department": "Visual Effects", "gender": 0, "id": 1401801, "job": "Visual Effects Supervisor", "name": "David Stinnett"}, {"credit_id": "54959db49251413af7002975", "department": "Visual Effects", "gender": 0, "id": 1401803, "job": "Visual Effects Supervisor", "name": "Guy Williams"}, {"credit_id": "54959de4c3a3681153002750", "department": "Crew", "gender": 0, "id": 1401804, "job": "Stunt Coordinator", "name": "Stuart Thorp"}, {"credit_id": "54959ef2c3a3680fc60027f2", "department": "Lighting", "gender": 0, "id": 1401805, "job": "Best Boy Electric", "name": "Giles Coburn"}, {"credit_id": "54959f07c3a3680fc60027f9", "department": "Camera", "gender": 2, "id": 1401806, "job": "Still Photographer", "name": "Mark Fellman"}, {"credit_id": "54959f47c3a3681153002774", "department": "Lighting", "gender": 0, "id": 1401807, "job": "Lighting Technician", "name": "Scott Sprague"}, {"credit_id": "54959f8cc3a36831b8001df2", "department": "Visual Effects", "gender": 0, "id": 1401808, "job": "Animation Director", "name": "Jeremy Hollobon"}, {"credit_id": "54959fa0c3a36831b8001dfb", "department": "Visual Effects", "gender": 0, "id": 1401809, "job": "Animation Director", "name": "Orlando Meunier"}, {"credit_id": "54959fb6c3a3686af3003f54", "department": "Visual Effects", "gender": 0, "id": 1401810, "job": "Animation Director", "name": "Taisuke Tanimura"}, {"credit_id": "54959fd2c3a36831b8001e02", "department": "Costume & Make-Up", "gender": 0, "id": 1401812, "job": "Set Costumer", "name": "Lilia Mishel Acevedo"}, {"credit_id": "54959ff9c3a3686ae300440c", "department": "Costume & Make-Up", "gender": 0, "id": 1401814, "job": "Set Costumer", "name": "Alejandro M. Hernandez"}, {"credit_id": "5495a0ddc3a3686ae10046fe", "department": "Editing", "gender": 0, "id": 1401815, "job": "Digital Intermediate", "name": "Marvin Hall"}, {"credit_id": "5495a1f7c3a3686ae3004443", "department": "Production", "gender": 0, "id": 1401816, "job": "Publicist", "name": "Judy Alley"}, {"credit_id": "5592b29fc3a36869d100002f", "department": "Crew", "gender": 0, "id": 1418381, "job": "CG Supervisor", "name": "Mike Perry"}, {"credit_id": "5592b23a9251415df8001081", "department": "Crew", "gender": 0, "id": 1426854, "job": "CG Supervisor", "name": "Andrew Morley"}, {"credit_id": "55491e1192514104c40002d8", "department": "Art", "gender": 0, "id": 1438901, "job": "Conceptual Design", "name": "Seth Engstrom"}, {"credit_id": "5525d5809251417276002b06", "department": "Crew", "gender": 0, "id": 1447362, "job": "Visual Effects Art Director", "name": "Eric Oliver"}, {"credit_id": "554427ca925141586500312a", "department": "Visual Effects", "gender": 0, "id": 1447503, "job": "Modeling", "name": "Matsune Suzuki"}, {"credit_id": "551906889251415aab001c88", "department": "Art", "gender": 0, "id": 1447524, "job": "Art Department Manager", "name": "Paul Tobin"}, {"credit_id": "5592af8492514152cc0010de", "department": 

In [27]:
def fetch_director(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            l.append(i['name'])
            break
    return l

In [28]:
movies['crew']=movies['crew'].apply(fetch_director)

In [29]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [30]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [31]:
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [32]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [33]:
# we concatenated into lists by making the details shorter

In [34]:
#to clear spaces inbetween

movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])

In [35]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[Andrew Stanton]

In [36]:
movies['tags']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [37]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[James Cameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[Gore Verbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[Sam Mendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[Christopher Nolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[Andrew Stanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [38]:
new_df=movies[['movie_id','title','tags']]

In [39]:
new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\DIVYA\AppData\Local\Temp\ipykernel_3140\487797088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:" ".join(x))

In [40]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [41]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [42]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\DIVYA\AppData\Local\Temp\ipykernel_3140\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [43]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jame cameron'

In [44]:
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())
new_df.head()

C:\Users\DIVYA\AppData\Local\Temp\ipykernel_3140\510464446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [45]:
#vectorization = converting tags into vectors

In [46]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [47]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [48]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zooeydeschanel', 'zucker', 'zwick'],
      dtype=object)

In [49]:
stem('In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver James Cameron')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jame cameron'

In [50]:
#euclidean distnot a good measure so we use cosine distance distance inversely proportional to similarity

In [51]:
from sklearn.metrics.pairwise import cosine_similarity

In [52]:
similarity=cosine_similarity(vectors)
similarity

array([[1.        , 0.08226127, 0.08471737, ..., 0.04456565, 0.        ,
        0.        ],
       [0.08226127, 1.        , 0.05884899, ..., 0.02321817, 0.        ,
        0.02465568],
       [0.08471737, 0.05884899, 1.        , ..., 0.0239114 , 0.0492366 ,
        0.        ],
       ...,
       [0.04456565, 0.02321817, 0.0239114 , ..., 1.        , 0.03885143,
        0.04007219],
       [0.        , 0.        , 0.0492366 , ..., 0.03885143, 1.        ,
        0.0825137 ],
       [0.        , 0.02465568, 0.        , ..., 0.04007219, 0.0825137 ,
        1.        ]])

In [53]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])
#similarity between first movie and all other movies
# diagonal always 1

[(0, 1.0000000000000002),
 (2409, 0.2901905000440047),
 (1216, 0.2847987184339659),
 (3730, 0.2605130246476754),
 (507, 0.253433161857307),
 (539, 0.2467838236981868),
 (582, 0.24283093212859136),
 (778, 0.2271554252121273),
 (61, 0.22710998958306755),
 (1194, 0.22710998958306755),
 (4048, 0.22629428592141426),
 (1204, 0.2252817784447915),
 (1920, 0.22264681319788204),
 (94, 0.21459876881973805),
 (2786, 0.21459876881973805),
 (172, 0.21239769762143662),
 (322, 0.20780973338645245),
 (972, 0.2073221072156823),
 (2333, 0.20443988269091456),
 (3608, 0.20437977982832192),
 (4192, 0.2029530274475215),
 (74, 0.20246457179963143),
 (1089, 0.19950596878025323),
 (151, 0.19867985355975665),
 (973, 0.19767387315371682),
 (260, 0.1976738731537168),
 (577, 0.1976738731537168),
 (47, 0.19672236884115843),
 (1444, 0.19672236884115843),
 (3675, 0.1956463952178074),
 (942, 0.19134594929397597),
 (2971, 0.19117977822546817),
 (1201, 0.19088542889273336),
 (305, 0.18848425873126295),
 (4, 0.18731716231633883),
 (4405, 0.18731716231633883),
 (2515, 0.1873171623163388),
 (27, 0.1854192697718241),
 (495, 0.18394180184548975),
 (1329, 0.18394180184548975),
 (1537, 0.18353258709644943),
 (1071, 0.1818335167131459),
 (3327, 0.1813690625275029),
 (3999, 0.18074256993863339),
 (2999, 0.17699808135119718),
 (168, 0.17521916101261562),
 (220, 0.1748149640244195),
 (1275, 0.1748149640244195),
 (83, 0.17342199390482402),
 (2204, 0.17316974359835272),
 (4336, 0.17316974359835272),
 (1321, 0.17292861596651865),
 (931, 0.17206180040292132),
 (184, 0.1711905958155815),
 (91, 0.16943474841747155),
 (36, 0.1692777916923361),
 (300, 0.1692777916923361),
 (373, 0.1691275228729346),
 (3162, 0.1689554412382047),
 (1831, 0.16742770563222897),
 (3538, 0.16742770563222897),
 (661, 0.1661625969589056),
 (529, 0.16563698349810535),
 (1982, 0.16452254913212452),
 (595, 0.16390251702679648),
 (41, 0.16390251702679645),
 (150, 0.16323215627475265),
 (342, 0.1602550282040466),
 (67, 0.1600142241187995),
 (3721, 0.15737789507292674),
 (4010, 0.15737789507292674),
 (581, 0.15609763526361567),
 (158, 0.15597978123755527),
 (149, 0.15511334686589626),
 (1178, 0.15389675281277312),
 (4777, 0.15389675281277312),
 (31, 0.15328483487124145),
 (26, 0.152008377581442),
 (1383, 0.152008377581442),
 (187, 0.15018785229652767),
 (1344, 0.15018785229652767),
 (838, 0.14886458551295736),
 (111, 0.14843120879858804),
 (311, 0.14843120879858804),
 (2731, 0.14808721943977307),
 (3147, 0.14789477332930712),
 (7, 0.14673479641335554),
 (1658, 0.14567913668701626),
 (2075, 0.14567913668701626),
 (1741, 0.1453922723390424),
 (127, 0.14509525002200235),
 (1297, 0.14509525002200235),
 (1396, 0.14421498760030763),
 (1479, 0.14421498760030763),
 (2760, 0.14421498760030763),
 (513, 0.14350946197048198),
 (108, 0.1419745572840903),
 (1355, 0.1419745572840903),
 (1938, 0.1419745572840903),
 (466, 0.14159846508095775),
 (275, 0.1411956236812263),
 (294, 0.1411956236812263),
 (579, 0.1411956236812263),
 (1965, 0.14084763640246842),
 (1056, 0.14048787173725413),
 (232, 0.1391037210186643),
 (568, 0.1391037210186643),
 (2496, 0.1391037210186643),
 (3354, 0.1391037210186643),
 (95, 0.13904693239779645),
 (490, 0.13834289277321493),
 (1488, 0.13834289277321493),
 (17, 0.1377056581888109),
 (46, 0.13710212427677043),
 (72, 0.13710212427677043),
 (461, 0.13710212427677043),
 (859, 0.13710212427677043),
 (1749, 0.13710212427677043),
 (4538, 0.13629325512727639),
 (249, 0.13530201829834768),
 (476, 0.13530201829834768),
 (1327, 0.13530201829834768),
 (3781, 0.13530201829834768),
 (3982, 0.13530201829834768),
 (843, 0.13518451760896877),
 (2169, 0.13518451760896877),
 (3409, 0.13518451760896877),
 (4348, 0.13497638119975428),
 (1322, 0.13382584475782772),
 (502, 0.13369695534647594),
 (777, 0.13369695534647594),
 (1560, 0.13334518676566626),
 (1808, 0.13334518676566626),
 (4079, 0.13334518676566626),
 (56, 0.1324532357065044),
 (105, 0.1324532357065044),
 (505, 0.1324532357065044),
 (2584, 0.1324532357065044),
 (413, 0.13157894736842107),
 (937, 0.13157894736842107),
 (1273, 0.130066495428618),
 (2133, 0.130066495428618),
 (2713, 0.130066495428618),
 (1015, 0.12988108336653278),
 (1086, 0.12988108336653278),
 (668, 0.12977713690461004),
 (1373, 0.12977713690461004),
 (1774, 0.12977713690461004),
 (2378, 0.12977713690461004),
 (14, 0.12824729401064427),
 (2181, 0.12824729401064427),
 (3340, 0.12824729401064427),
 (134, 0.12725695259515557),
 (368, 0.12725695259515557),
 (889, 0.12725695259515557),
 (935, 0.12725695259515557),
 (2873, 0.1267165809286535),
 (138, 0.126673647984535),
 (2686, 0.126673647984535),
 (3622, 0.126673647984535),
 (4230, 0.126673647984535),
 (2450, 0.12515654358043973),
 (487, 0.12487810821089254),
 (773, 0.12487810821089254),
 (2060, 0.12487810821089254),
 (126, 0.12369267399882337),
 (166, 0.12369267399882337),
 (3628, 0.12369267399882336),
 (483, 0.12262786789699316),
 (1004, 0.12262786789699316),
 (1096, 0.12262786789699316),
 (1158, 0.12262786789699316),
 (2970, 0.12262786789699316),
 (3376, 0.12262786789699316),
 (84, 0.12262786789699315),
 (1878, 0.12262786789699315),
 (102, 0.12262786789699313),
 (52, 0.12227899701112964),
 (557, 0.12227899701112963),
 (2480, 0.12166606584807191),
 (2880, 0.12166606584807191),
 (3235, 0.12091270835166862),
 (139, 0.12072654548783007),
 (68, 0.1204950466257556),
 (208, 0.1204950466257556),
 (781, 0.1204950466257556),
 (2652, 0.1204950466257556),
 (369, 0.11959121830873498),
 (438, 0.11959121830873498),
 (1299, 0.11959121830873498),
 (2284, 0.11959121830873498),
 (1274, 0.11846977555181847),
 (549, 0.11831213107007527),
 (900, 0.11831213107007527),
 (1002, 0.11803342130469506),
 (1715, 0.11803342130469506),
 (1673, 0.11803342130469505),
 (2674, 0.11803342130469505),
 (3083, 0.11803342130469505),
 (11, 0.11707322644771176),
 (587, 0.11707322644771176),
 (870, 0.11707322644771176),
 (2547, 0.11707322644771176),
 (1047, 0.116543309349613),
 (1833, 0.116543309349613),
 (2741, 0.116543309349613),
 (4673, 0.116543309349613),
 (160, 0.11650496642725611),
 (1617, 0.11587244366483038),
 (589, 0.11551284429847784),
 (3212, 0.11506355109724453),
 (279, 0.1147078669352809),
 (454, 0.1147078669352809),
 (2331, 0.1147078669352809),
 (2789, 0.1147078669352809),
 (2820, 0.1147078669352809),
 (4343, 0.1147078669352809),
 (432, 0.11470786693528089),
 (28, 0.11470786693528087),
 (422, 0.11470786693528087),
 (1301, 0.11470786693528087),
 (85, 0.11412706387705432),
 (1497, 0.1139194873735864),
 (1220, 0.11357771260606365),
 (122, 0.11295649894498103),
 (236, 0.11295649894498103),
 (678, 0.11295649894498103),
 (1418, 0.1124803176664619),
 (808, 0.11164843913471803),
 (4000, 0.11164843913471803),
 (3443, 0.11141412945539662),
 (536, 0.11141412945539661),
 (50, 0.11128297681493143),
 (123, 0.11037769642208699),
 (1512, 0.11037769642208699),
 (2372, 0.11037769642208699),
 (206, 0.11020775375559676),
 (238, 0.11020775375559674),
 (1574, 0.11020775375559674),
 (121, 0.10968169942141635),
 (786, 0.10968169942141635),
 (1616, 0.10968169942141635),
 (1945, 0.10968169942141635),
 (81, 0.1095080149111477),
 (182, 0.10936965981495178),
 (228, 0.10936965981495178),
 (420, 0.10936965981495178),
 (189, 0.10882143751650175),
 (256, 0.10882143751650175),
 (624, 0.10882143751650175),
 (653, 0.10882143751650175),
 (1005, 0.10882143751650175),
 (1524, 0.10882143751650175),
 (1575, 0.10882143751650175),
 (2323, 0.10882143751650175),
 (5, 0.10838874619051501),
 (692, 0.10838874619051501),
 (3630, 0.10838874619051501),
 (740, 0.108388746190515),
 (3309, 0.108388746190515),
 (21, 0.10814761408717502),
 (87, 0.10814761408717502),
 (227, 0.10814761408717502),
 (229, 0.10814761408717502),
 (1031, 0.10814761408717502),
 (3008, 0.10814761408717502),
 (3498, 0.10814761408717502),
 (4468, 0.10814761408717502),
 (1019, 0.10743376064838502),
 (3093, 0.10743376064838502),
 (307, 0.10729938440986901),
 (939, 0.1068366854693644),
 (449, 0.106676149412533),
 (472, 0.106676149412533),
 (2072, 0.106676149412533),
 (2148, 0.106676149412533),
 (143, 0.10650358071057624),
 (627, 0.10619884881071831),
 (1348, 0.10619884881071831),
 (170, 0.10559715077387793),
 (262, 0.10559715077387793),
 (467, 0.10559715077387793),
 (131, 0.10526315789473685),
 (687, 0.10526315789473685),
 (1037, 0.10526315789473685),
 (1237, 0.10526315789473685),
 (3428, 0.10526315789473685),
 (1496, 0.10471347707292386),
 (295, 0.10390486669322622),
 (332, 0.10390486669322622),
 (200, 0.1037571695799112),
 (1501, 0.1037571695799112),
 (1745, 0.1037571695799112),
 (2634, 0.1037571695799112),
 (3055, 0.1037571695799112),
 (3621, 0.1037571695799112),
 (654, 0.10301070542879115),
 (2439, 0.10301070542879115),
 (223, 0.10259783520851541),
 (1195, 0.10259783520851541),
 (1771, 0.10259783520851541),
 (4097, 0.10259783520851541),
 (572, 0.10218988991416096),
 (1455, 0.10218988991416095),
 (2106, 0.10218988991416095),
 (2498, 0.10218988991416095),
 (233, 0.10147651372376076),
 (1166, 0.10147651372376076),
 (2161, 0.10147651372376076),
 (2456, 0.10147651372376076),
 (2521, 0.10147651372376076),
 (3663, 0.10147651372376076),
 (3839, 0.10147651372376076),
 (4135, 0.10147651372376076),
 (2099, 0.10138838820672659),
 (10, 0.101338918387628),
 (75, 0.101338918387628),
 (312, 0.101338918387628),
 (643, 0.101338918387628),
 (754, 0.101338918387628),
 (2817, 0.101338918387628),
 (3152, 0.101338918387628),
 (3755, 0.101338918387628),
 (3874, 0.101338918387628),
 (1439, 0.10060545457319173),
 (1634, 0.1003911722115382),
 (70, 0.10012523486435178),
 (508, 0.10012523486435178),
 (1082, 0.10012523486435178),
 (1294, 0.10012523486435178),
 (491, 0.09984038297885897),
 (1405, 0.09984038297885897),
 (3441, 0.09984038297885897),
 (157, 0.09933992677987831),
 (1280, 0.09933992677987831),
 (2762, 0.09933992677987831),
 (2787, 0.09933992677987831),
 (3954, 0.09933992677987831),
 (330, 0.0989541391990587),
 (510, 0.0989541391990587),
 (988, 0.0989541391990587),
 (2247, 0.0989541391990587),
 (3783, 0.0989541391990587),
 (363, 0.09836118442057921),
 (266, 0.0978231976089037),
 (445, 0.0978231976089037),
 (1109, 0.0978231976089037),
 (1401, 0.0978231976089037),
 (1614, 0.0978231976089037),
 (2253, 0.0978231976089037),
 (3634, 0.0978231976089037),
 (3935, 0.0978231976089037),
 (35, 0.09733285267845754),
 (319, 0.09733285267845754),
 (325, 0.09733285267845754),
 (695, 0.09733285267845754),
 (878, 0.09733285267845754),
 (1077, 0.09733285267845754),
 (1727, 0.09733285267845754),
 (2053, 0.09733285267845754),
 (1775, 0.09694584179118516),
 (9, 0.0967301666813349),
 (410, 0.0967301666813349),
 (898, 0.0967301666813349),
 (1823, 0.0967301666813349),
 (230, 0.09626070358206487),
 (334, 0.09567297464698798),
 (480, 0.09567297464698798),
 (535, 0.09567297464698798),
 (3255, 0.09567297464698798),
 (3355, 0.09567297464698798),
 (3620, 0.09567297464698798),
 (263, 0.09544271444636668),
 (715, 0.09544271444636668),
 (1027, 0.09544271444636668),
 (1156, 0.09544271444636668),
 (1884, 0.09544271444636668),
 (1942, 0.09544271444636668),
 (3901, 0.09544271444636668),
 (4018, 0.09544271444636668),
 (4198, 0.09544271444636668),
 (4203, 0.09544271444636668),
 (4403, 0.09544271444636668),
 (4490, 0.09544271444636668),
 (18, 0.09493290614465533),
 (4545, 0.09493290614465533),
 (371, 0.09464970485606021),
 (412, 0.09464970485606021),
 (932, 0.09464970485606021),
 (2241, 0.09464970485606021),
 (2556, 0.09464970485606021),
 (2701, 0.09464970485606021),
 (33, 0.09365858115816941),
 (278, 0.09365858115816941),
 (362, 0.09365858115816941),
 (791, 0.09365858115816941),
 (1357, 0.09365858115816941),
 (1686, 0.09365858115816941),
 (1692, 0.09365858115816941),
 (2562, 0.09365858115816941),
 (4006, 0.09365858115816941),
 (4256, 0.09365858115816941),
 (4472, 0.09365858115816941),
 (239, 0.09365858115816939),
 (814, 0.09269795493186431),
 (2650, 0.09269795493186431),
 (4483, 0.09269795493186431),
 (301, 0.09243423333081696),
 (148, 0.09197090092274487),
 (219, 0.09197090092274487),
 (660, 0.09197090092274487),
 (1573, 0.09197090092274487),
 (1721, 0.09197090092274487),
 (2645, 0.09197090092274487),
 (3537, 0.09197090092274487),
 (3736, 0.09197090092274487),
 (4331, 0.09197090092274487),
 (785, 0.09183979479633063),
 (799, 0.09183979479633063),
 (243, 0.09176629354822471),
 (473, 0.09176629354822471),
 (813, 0.09176629354822471),
 (1446, 0.09176629354822471),
 (1701, 0.09176629354822471),
 (2488, 0.09176629354822471),
 (2592, 0.09176629354822471),
 (3407, 0.09176629354822471),
 (2570, 0.09125667909262308),
 (43, 0.09086217008485092),
 (596, 0.09086217008485092),
 (602, 0.09086217008485092),
 (1233, 0.09086217008485092),
 (167, 0.09037128496931669),
 (356, 0.09037128496931669),
 (511, 0.09037128496931669),
 (920, 0.09037128496931669),
 (1474, 0.09037128496931669),
 (1756, 0.09037128496931669),
 (2093, 0.09037128496931669),
 (2396, 0.09037128496931669),
 (331, 0.08998425413316952),
 (1276, 0.08998425413316952),
 (2796, 0.08998425413316952),
 (3720, 0.08998425413316952),
 (4036, 0.08998425413316952),
 (4502, 0.08998425413316952),
 (274, 0.08977310580745099),
 (1169, 0.0891313035643173),
 (1846, 0.0891313035643173),
 (2363, 0.0891313035643173),
 (3389, 0.0891313035643173),
 (3881, 0.0891313035643173),
 (2115, 0.08903057122447033),
 (12, 0.08885233166386385),
 (244, 0.08885233166386385),
 (292, 0.08885233166386385),
 (389, 0.08885233166386385),
 (400, 0.08885233166386385),
 (980, 0.08885233166386385),
 (1259, 0.08885233166386385),
 (1306, 0.08885233166386385),
 (1589, 0.08885233166386385),
 (2251, 0.08885233166386385),
 (2651, 0.08885233166386385),
 (2660, 0.08885233166386385),
 (2957, 0.08885233166386385),
 (1906, 0.08830215713766959),
 (63, 0.08749572785196143),
 (169, 0.08749572785196143),
 (270, 0.08749572785196143),
 (618, 0.08749572785196143),
 (997, 0.08749572785196143),
 (1783, 0.08749572785196143),
 (2740, 0.08749572785196143),
 (479, 0.08746392856766495),
 (88, 0.08740748201220976),
 (564, 0.08740748201220976),
 (794, 0.08740748201220976),
 (1427, 0.08740748201220976),
 (1480, 0.08740748201220976),
 (2868, 0.08740748201220976),
 (3448, 0.08740748201220976),
 (199, 0.08671099695241201),
 (752, 0.08671099695241201),
 (1629, 0.08671099695241201),
 (1832, 0.08671099695241201),
 (2109, 0.08671099695241201),
 (3462, 0.08671099695241201),
 (3553, 0.08671099695241201),
 (3556, 0.08671099695241201),
 (2448, 0.08646430798325933),
 (141, 0.08603090020146066),
 (23, 0.08603090020146065),
 (457, 0.08603090020146065),
 (745, 0.08603090020146065),
 (960, 0.08603090020146065),
 (1134, 0.08603090020146065),
 (1249, 0.08603090020146065),
 (3135, 0.08603090020146065),
 (3322, 0.08603090020146065),
 (3449, 0.08603090020146065),
 (4754, 0.08603090020146065),
 (129, 0.08594700851870801),
 (234, 0.08594700851870801),
 (827, 0.08594700851870801),
 (541, 0.08520286456846099),
 (2354, 0.08520286456846099),
 (2472, 0.08520286456846099),
 (2, 0.08471737420873576),
 (899, 0.08471737420873576),
 (2304, 0.08471737420873576),
 (32, 0.08447772061910234),
 (48, 0.0837707816583391),
 (79, 0.0837707816583391),
 (190, 0.0837707816583391),
 (381, 0.0837707816583391),
 (1305, 0.0837707816583391),
 (1530, 0.0837707816583391),
 (1639, 0.0837707816583391),
 (2856, 0.0837707816583391),
 (2968, 0.0837707816583391),
 (4353, 0.0837707816583391),
 (142, 0.08346223261119858),
 (547, 0.08346223261119858),
 (775, 0.08346223261119858),
 (1097, 0.08346223261119858),
 (1142, 0.08346223261119858),
 (2261, 0.08346223261119858),
 (4560, 0.08346223261119858),
 (217, 0.0830812984794528),
 (19, 0.08240856434303293),
 (403, 0.08240856434303293),
 (963, 0.08240856434303293),
 (1, 0.08226127456606226),
 (315, 0.08226127456606226),
 (894, 0.08226127456606226),
 (1378, 0.08226127456606226),
 (1688, 0.08226127456606226),
 (2500, 0.08226127456606226),
 (3347, 0.08226127456606226),
 (2203, 0.08175191193132876),
 (3905, 0.08175191193132876),
 (39, 0.08111071056538127),
 (45, 0.08111071056538127),
 (62, 0.08111071056538127),
 (152, 0.08111071056538127),
 (164, 0.08111071056538127),
 (203, 0.08111071056538127),
 (306, 0.08111071056538127),
 (341, 0.08111071056538127),
 (501, 0.08111071056538127),
 (534, 0.08111071056538127),
 (787, 0.08111071056538127),
 (1207, 0.08111071056538127),
 (1325, 0.08111071056538127),
 (2128, 0.08111071056538127),
 (2167, 0.08111071056538127),
 (2386, 0.08111071056538127),
 (2583, 0.08111071056538127),
 (2644, 0.08111071056538127),
 (3140, 0.08111071056538127),
 (3180, 0.08111071056538127),
 (3301, 0.08111071056538127),
 (3470, 0.08111071056538127),
 (3527, 0.08111071056538127),
 (3926, 0.08111071056538127),
 (3978, 0.08111071056538127),
 (4516, 0.08111071056538127),
 (4587, 0.08111071056538127),
 (4641, 0.08111071056538127),
 (4657, 0.08111071056538127),
 (4671, 0.08111071056538127),
 (4790, 0.08111071056538127),
 (1103, 0.08048436365855338),
 (16, 0.08000711205939975),
 (242, 0.08000711205939975),
 (245, 0.08000711205939975),
 (626, 0.08000711205939975),
 (854, 0.08000711205939975),
 (1519, 0.08000711205939975),
 (1747, 0.08000711205939975),
 (2661, 0.08000711205939975),
 (2865, 0.08000711205939975),
 (3851, 0.08000711205939975),
 (4626, 0.08000711205939975),
 (486, 0.07992075789278003),
 (38, 0.07987230638308718),
 (812, 0.07987230638308718),
 (1346, 0.07987230638308718),
 (1534, 0.07987230638308718),
 (1828, 0.07987230638308718),
 (2792, 0.07987230638308718),
 (4506, 0.07987230638308718),
 (222, 0.0792740035289418),
 (37, 0.07894736842105264),
 (901, 0.07894736842105264),
 (1161, 0.07894736842105264),
 (2683, 0.07894736842105264),
 (3164, 0.07894736842105264),
 (3233, 0.07894736842105264),
 (3764, 0.07894736842105264),
 (103, 0.07868894753646337),
 (776, 0.07868894753646337),
 (1621, 0.07868894753646337),
 (1664, 0.07868894753646337),
 (1698, 0.07868894753646337),
 (1898, 0.07868894753646337),
 (1924, 0.07868894753646337),
 (2549, 0.07868894753646337),
 (2877, 0.07868894753646337),
 (4077, 0.07868894753646337),
 (4279, 0.07868894753646337),
 (4492, 0.07868894753646337),
 (4568, 0.07868894753646337),
 (4654, 0.07868894753646337),
 (4737, 0.07868894753646337),
 (193, 0.07841268355597569),
 (51, 0.0781166566864507),
 (1926, 0.0781166566864507),
 (112, 0.07792865001991967),
 (329, 0.07792865001991967),
 (1080, 0.07792865001991967),
 (1113, 0.07792865001991967),
 (1269, 0.07792865001991967),
 (2224, 0.07792865001991967),
 (2295, 0.07792865001991967),
 (4316, 0.07792865001991967),
 (153, 0.07755667343294813),
 (1659, 0.07755667343294813),
 (286, 0.0770085628656519),
 (1282, 0.0770085628656519),
 (3560, 0.0770085628656519),
 (86, 0.07694837640638656),
 (174, 0.07694837640638656),
 (241, 0.07694837640638656),
 (349, 0.07694837640638656),
 (922, 0.07694837640638656),
 (1289, 0.07694837640638656),
 (1719, 0.07694837640638656),
 (2021, 0.07694837640638656),
 (2938, 0.07694837640638656),
 (3028, 0.07694837640638656),
 (3102, 0.07694837640638656),
 (4341, 0.07694837640638656),
 (4624, 0.07694837640638656),
 (866, 0.07647191129018727),
 (1139, 0.07647191129018727),
 (2339, 0.07647191129018727),
 (2671, 0.07647191129018727),
 (3728, 0.07647191129018727),
 (3832, 0.07647191129018727),
 (4368, 0.07647191129018727),
 (4473, 0.07647191129018727),
 (40, 0.076004188790721),
 (96, 0.076004188790721),
 (402, 0.076004188790721),
 (492, 0.076004188790721),
 (503, 0.076004188790721),
 (737, 0.076004188790721),
 (1290, 0.076004188790721),
 (2219, 0.076004188790721),
 (2449, 0.076004188790721),
 (3091, 0.076004188790721),
 (3166, 0.076004188790721),
 (4268, 0.076004188790721),
 (125, 0.07577352304240824),
 (3331, 0.07563612760200647),
 (246, 0.07543142864047142),
 (82, 0.07509392614826384),
 (98, 0.07509392614826384),
 (101, 0.07509392614826384),
 (207, 0.07509392614826384),
 (235, 0.07509392614826384),
 (361, 0.07509392614826384),
 (395, 0.07509392614826384),
 (632, 0.07509392614826384),
 (1293, 0.07509392614826384),
 (1523, 0.07509392614826384),
 (3816, 0.07509392614826384),
 (4558, 0.07509392614826384),
 (2005, 0.07492686492653551),
 (584, 0.07443229275647868),
 (1254, 0.07443229275647868),
 (2274, 0.07443229275647868),
 (2712, 0.07443229275647868),

In [54]:
def recommend(movie):
    movie_index = new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title

In [55]:
recommend('Batman Begins')

The Dark Knight
Batman
The Dark Knight Rises
Batman
10th & Wolf

In [56]:
import pickle

In [57]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [58]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [59]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [60]:
pickle.dump(similarity,open('similarity.pkl','wb'))